body{
    background-image: url(../img/4-min.jpg);
    /*background-position: center center;*/
    background-size: cover;
}

.header{
background-image: url(../img/personas-vector-set.jpg);
background-position: center center;
background-size: cover;
height: 550px;
border: gray solid;
}

.navegacion{
    background-color: gray;
    height: 45px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.table{
    border-radius: 20px;
    background-color: white;
}

.modal-content{
    background-image: url(../img/4-min.jpg);
    color: white;
}
.close{
    color: white;
}

.select{
    width: 100px;
    display: block;
}

